@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.project {
  width: 450px;
  background-color: $bgSecondColor;
  min-height: 1px;
  display: flex;
  flex-direction: column;

  .imageContainer {
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgSecondColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.3;
    }

    .link {
      background-color: $primaryColor;
      width: 100px;
      height: 30px;
      text-decoration: none;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: $textColor;
      position: relative;
      z-index: 1;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2px);

      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($textFontFamily, 14px, 1.8);

      font-weight: 400;
    }
  }
}











