.work{
    width: 250px;
    background-color: #939191;
    min-height: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imageContainer{
    height: 200px;
    width: 250px;
    background-color: #d2a54c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    background-color: #fc0404;
    width: 100px;
    height: 25px;
    text-decoration: none;

}

.descriptionBlock{
    background-color: #727272;
    width: 100%;
}
.title {
    background-color: #f3caca;
    text-align: left;
    margin-bottom: 5px;
}

.description{
    background-color: #ffc6c6;
    margin-bottom: 5px;
}