@import "../common/styles/sass/variables";

.skillsBlock {
    min-height: 100vh;
    background-color: $bgSecondColor;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    @media screen and (max-width: 1129px) {
        max-width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
}

.title {
    background-color: #929292;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}