@import "./../common/styles/sass/variables";

.mainContainer {

  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 1180px) {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
    transition: 0.9s;
  }
}

.photo {
  min-width: 390px;
  height: 470px;
  background-size: cover;
  justify-content: center;
  position: relative;
  @media screen and (max-width: 683px) {
    min-width:270px;
    height: 350px;
    margin: 0 auto;
  }
  &:before {
    content: '';
    position: absolute;
    height: 110%;
    width: 100%;
    border: 5px solid $primaryColor;
    left: 15px;
    top: -25px;
    z-index: -1;
  }

}




.mainBlock {
  height: 100vh;
  background-color: $bgColor;

  .text {
    display: block;
    width: 550px;
    height: 156px;
    color: $textColor;
    font-family: $titleFontFamily;
    @media (max-width: 1120px) {
      margin-top: 60px;
    }
    @media (max-width: 450px) {
      margin-top: 20px;
    }

    .greeting {
      font-size: 20px;
    }

    h1 {
      font-size: 50px;
      padding: 10px 0 10px;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 5px;
      margin: 0;

      span {
        font-family: $titleFontFamily, 55px, 1.2, 700;
        letter-spacing: 5px;
        position: relative;
        z-index: 0;
        display: inline-block;
        @media screen and (max-width: 890px) {
          font-family: $titleFontFamily, 30px, 1.2, 700;
        }@media (max-width: 450px) {
          font-family: $titleFontFamily, 30px, 1.2, 700;
        }

        &:before {
          content: '';
          position: absolute;
          width: 114%;
          height: 15px;
          background-color: $primaryColor;
          bottom: 0;
          z-index: -1;
        }
      }
    }

    p {
      font-size: 35px;
      @media (max-width: 450px) {
       font-size: 25px;
      }
    }
  }

}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}






