.mainBlock {
    height: 100vh;
    background-color: #ffcfcf;
}


.text {
    width: 300px;
    background-color: #6e86e6;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #b2b7d2;
}
