.worksBlock{
    height: 100vh;
    background-color: #40fa0c;
}
.worksContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #929292;

}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}