@import "../common/styles/sass/variables";



.nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  margin-right: 220px;
  @media screen and (max-width: 520px) {
    margin-right: 100px;
    justify-content: center;
  }
  @media screen and (max-width: 485px) {
    margin-right: 70px;
    justify-content: center;
  }@media screen and (max-width: 390px) {
    margin-right: 40px;
    justify-content: center;
  }
  a {
    padding: 20px;
    font-family: $titleFontFamily;
    font-size: 25px;
    font-weight: 400;
    color: $textColor;
    cursor: pointer;
    @media screen and (max-width: 890px) {
      font-size: 23px;
      padding: 15px;
    } @media screen and (max-width: 450px) {
      font-size: 20px;
      padding: 5px;
    }@media screen and (max-width: 390px) {
      font-size: 17px;
      padding: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $primaryColor
    }
  }

  .active {
    color: $primaryColor
  }
}