@import "../common/styles/sass/variables";

//.nav {
//  font-family: $textFontFamily;
//  width: 300px;
//  display: flex;
//  justify-content: space-between;
//
//  color: $textColor;
////  position: relative;
//  z-index: 1;
//  padding-left: 10px;
//
//    &:hover{
//      text-decoration: none;
//      color: $primaryColor
//    }
//  .active{
//    color: $primaryColor
//  }
//}

.nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  margin-right: 150px;
  @media screen and (max-width: 890px) {
    margin-right: 120px;
    justify-content: center;
  }
  @media screen and (max-width: 455px) {
    margin-right: 50px;
    justify-content: center;
  }
  a {
    padding: 20px;
    font-family: $titleFontFamily;
    font-size: 25px;
    font-weight: 400;
    color: $textColor;
    cursor: pointer;
    @media screen and (max-width: 890px) {
      font-size: 23px;
      padding: 15px;
    } @media screen and (max-width: 390px) {
      font-size: 20px;
      padding: 5px;
    }

    &:hover {
      text-decoration: none;
      color: $primaryColor
    }
  }

  .active {
    color: $primaryColor
  }
}