@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
    height: 30vh;
    background-color: $bgSecondColor;
    .footer {
        display: flex;
        flex-direction: column;
        .socialNetworks {
            display: flex;
            justify-content: space-between;
            width: 600px;
            .SN {
                font-size: 20px ;
                width: 150px;
                height: 50px;
                @include text($textFontFamily, 20px, 1.8);
                      color:$primaryColor ;
                          }
        }
        h3{
            @include text($textFontFamily, 12px, 1.8);
        }
    }
}





