@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  min-height: 30vh;
  background-color: $bgSecondColor;

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .socialNetworks {
      margin: 20px;

      display: flex;
      justify-content: space-between;
      min-width: 30px;
      flex-wrap: wrap;
      @media screen and (max-width: 430px) {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

      }

      .SN {

        font-size: 20px;
        min-width: 150px;
        min-height: 50px;

        a {
          @include text($textFontFamily, 20px, 1.8);
          color: $primaryColor ;
          text-decoration: none;
        }

      }
    }

    h3 {
      @include text($textFontFamily, 12px, 1.8);
    }
  }
}





